<!DOCTYPE html>
<html lang="zh-Hans-TW">

<head>
    <title>{{ title }}</title>
    {{{_sections.meta}}}
    {{{_sections.link}}}
    <!-- pre-execution script -->
    {{{_sections.header_script}}}
</head>
<!-- body -->
{{{_sections.body}}}
</html>